<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=, initial-scale=1.0" />
  <title>debato</title>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <!-- <header class="canvas"> -->
  <div class="main-content-container">
    <div class="header">
      <a>동해갯뻘</a>
      <a>백두산이과</a>
      <a>마르고닳도록</a>
      <a class="profile"> 금강산이</a>
    </div>
    <div class="row1">
      <div id="row1-inside-1">asfd</div>
      <div id="row1-inside-2">asfd</div>
    </div>
    <div class="row2">
      <div id="row2-inside-1">asfd</div>
      <div id="row2-inside-2">asfd</div>
    </div>
    <div class="row1">
      <div id="row1-inside-1">asfd</div>
      <div id="row1-inside-2">asfd</div>
    </div>
    <div class="row2">
      <div id="row2-inside-1">asfd</div>
      <div id="row2-inside-2">asfd</div>
    </div>
    <div class="footer">
      <div id="year">2022</div>
      <div>made in korea</div>
    </div>
  </div>
</body>

</html>